<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Minha Casa</title>
</head>

<body class='container-fluid'>
    <div class="row shadow mt-1 align-items-center">
        <div class="col">
            <h2 class="fw-bold"><i class="bi bi-house-gear"></i> {% block title %}{% endblock %}</h2>
        </div>
        <div class="col text-end">
            {% if current_user.is_authenticated %}
            <span class="me-2">Olá, <strong>{{ current_user.id }}</strong>!</span>
            <a href="{{ url_for('login.logout') }}" class="btn btn-danger btn-sm">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
            {% endif %}
        </div>
    </div>
    {% block content %} {% endblock %}
</body>

</html>