{% extends 'base.html' %}
{% block title %}
Minha Casa 
{% endblock %}
{% block content %}
<div class="row mt-3">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <h2 class="fw-bold">Remover Usuário:</h2>
        <form method="post" action="{{ url_for('del_user') }}">

            <div class="form-outline mb-4">
                <label class="form-label" for="user">Selecione o Usuário</label>
                <select name="user" id="user" class="form-select" required>
                    <option selected disabled>Escolha um usuário</option>
                    {% for key, value in devices.items() %}
                    <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-danger btn-block">Deletar</button>
        </form>
    </div>
    
    <div class="col-md-4"></div>
</div>
{% endblock %}